#title {
    background-color: whitesmoke;
    color: black;
    padding:17px;
	font-size: 48px;
	font-family: g;
	font-weight: 700; 
    font-size: 48px;
    letter-spacing: 3px;
    display:flex;
    justify-content: center;
    font-family: cursive;
    opacity:0.8;
    margin: 0;
	
}

#tableHeader{
    display: flex;
    background-color: whitesmoke;
    color: black;
    font-size: 28px;
    padding: 10px;
    opacity:0.8;
    justify-content: space-evenly;
}


td a{
    padding: 15px;
    color: black;
    text-decoration: none;
    font-family: cursive;

}

td a:hover{
    background-color: rgb(141, 141, 206);
    border-radius: 10px;
    color: white;
    opacity: 1.0;
    /* background: url("headerWave.png") no-repeat; */
}

body{
    background-image: url("/media/home_background.jpg");
    background-attachment: fixed;/* image will not move with scroll */
    background-position:  0px -100px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;

}


p {
    font-size: 20px;
    background-color:whitesmoke;
    opacity: 75%;
}

.clickable {
    cursor: pointer;
}

.textBox{
    background-size: cover;
    background-position: bottom center;
    height: max-content;
    width: 60%;
    padding: 2px 2px 2px 2px;
    opacity: 0.7;
}